{# Property Details Component #}
<div class="mi-property-details">
    {% if bedrooms is not null %}
        <div class="mi-property-details__item">
            <i class="mi-icon mi-icon-bed"></i>
            <span class="mi-property-details__value">{{ bedrooms }}</span>
            <span class="mi-property-details__label">{{ bedrooms == 1 ? 'Bedroom' : 'Bedrooms' }}</span>
        </div>
    {% endif %}
    
    {% if bathrooms is not null %}
        <div class="mi-property-details__item">
            <i class="mi-icon mi-icon-bath"></i>
            <span class="mi-property-details__value">{{ bathrooms }}</span>
            <span class="mi-property-details__label">{{ bathrooms == 1 ? 'Bathroom' : 'Bathrooms' }}</span>
        </div>
    {% endif %}
    
    {% if max_guests is not null %}
        <div class="mi-property-details__item">
            <i class="mi-icon mi-icon-guests"></i>
            <span class="mi-property-details__value">{{ max_guests }}</span>
            <span class="mi-property-details__label">{{ max_guests == 1 ? 'Guest' : 'Guests' }}</span>
        </div>
    {% endif %}
</div>
